<form [formGroup]="productForm" (ngSubmit)="submit()">

  <ul *ngIf="productForm.invalid">
    <!-- TODO: handle errors -->
    <!-- <li *ngFor="let error of productForm.errors ">{{ error }}</li> -->
  </ul>

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="" name="title" formControlName="title"/>
    <span clas="error" *ngIf="productForm.controls['title']?.errors">...</span>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input
      type="number"
      matInput
      placeholder=""
      name="price"
      formControlName="price"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!productForm.valid"
  >
    Add
  </button>
</form>
